@charset "utf-8"
/*CSS Document */;

h3 {
    color: #be1e2d;
    font-size: 48px;
    font-family: Majesti-Banner-BookItalic, serif;
    font-style: italic;
    text-align: left;
    text-shadow: 0px 0px 20px black;
    margin: 0px;
    padding: 0px;
}

 body {
    background: #41393d;
    margin-left: 350px;
    margin-right: 320px;
    padding: 0px;
}
    
 * { 
    margin: 0;
    padding: 0;
    
}
    
 .wrapper {
    margin: 0 auto;
    width: 1000px;
}

p {
    color: white;
    text-align: justify;
    font-size: 24px;
    font-family: athelas, serif;
    text-shadow: 0px 0px 10px black;
}



.img-logo {
    width:700px;
    height:200px;
    background-image: url(images/town_drop.png);
    background-size: cover; 
    background-position:center;
    background-repeat: no-repeat;
    z-index:2;
    margin-bottom:15px;
    box-shadow:0px 2px 2px #000;
    
}

